<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="ut-8">
  <title>Student</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha38-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/modal.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/student.css' />
  <style>
    td {
      border: 2px solid;
      paddin-right: 40px;
    }

    thead {
      backgroun-color: #2e80ba;
    }

    th {
      border: 2px solid;
      tex-align: center;
      padding: 10px;
    }

    table {
      tabl-layout: fixed;
      width: 800px;
      margin: auto;
    }

    .noRightBorder {
      borde-right: 0px;
    }

    .noLeftBorder {
      borde-left: 0px;
    }

    .head_color {
      backgroun-color: #5dbe9d;
    }

    h1 {
      tex-align: center;
      margi-bottom: 30px;
    }

    p {
      fon-weight: bold;
    }

    .add_breaks {
      white-space: pre-line;
    }

    .submitted {
      font-size: 14px;
    }
  </style>
</head>

<body>
  <a class='submitted' href='students'>Back</a>
  <form method="post">
    <div class="container-fluid">
      <h6 class="banner">STUDENT INFORMATION</h6>
      <!-- columns -->
      <div class="row">
        <div class="cols center">
          <div class="f">
            <label class='label'>Student ID:</label>
            <input type="text" id="student_id" name="student_id" class="form-control" required>
          </div>
          <div class="f">
            <label class='label'>Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
          </div>
          <div class="f">
            <label class='label'>Username:</label>
            <input type="text" id="username"name="username" class="form-control" required>
          </div>
          <div class="f">
            <label class='label'>Password:</label>
            <input type="text" id="password"name="password" class="form-control" required>
          </div>
          <div class="f">
            <label class='label'>Birth Date:</label>
            <input type="text" id="birth_date"name="birth_date" class="form-control" required>
          </div>
          <div class="f">
            <label class='label'>Age:</label>
            <input type="text" id="age"name="age" class="form-control" required>
          </div>
          <div class="f">
            <label class='label'>Gender:</label>
            <input type="text" id="gender"name="gender" class="form-control" required>
          </div>
          <div class="f">
            <label class='label'>Disability:</label>
            <input type="text" id="disabilities"name="disabilities" class="form-control" required>
          </div>
          <div class="f">
            <label class='label'>Grade</label>
            <select id="grade" name="grade" class="form-control" required>
            </select>
          </div>
          <div class="f">
            <label class='label'>Previous School:</label>
            <input type="text" id="previous_school" name="previous_school" class="form-control" required>
          </div>
          </div>
          </div>
          <h6 class="banner">FAMILY INFORMATION</h6>
          <!-- columns -->
          <div class="row">
            <div class="cols center">
              <div class="f">
                <label class='label'>Father's Name:</label>
                <input type="text" id="father_name" name="father_name" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Father's Employment:</label>
                <input type="text" id="father_employment" name="father_employment" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Mother's Name:</label>
                <input type="text" id="mother_name" name="mother_employment" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Mother's Employment:</label>
                <input type="text" id="mother_employment" name="mother_employment" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Address:</label>
                <input type="text" id="family_address" name="family_address" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>City:</label>
                <input type="text" id="family_city" name="family_address" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>State:</label>
                <input type="text" id="family_state" name="family_address" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Zip Code:</label>
                <input type="text" id="family_zip" name="family_address" class="form-control" required>
              </div>
          
              <div class="f">
                <label class='label'>Phone:</label>
                <input type="text" id="family_phone" name="family_phone" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Email:</label>
                <input type="text" id="family_email" name="family_email" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Student Living With:</label>
                <input type="text" id="student_living_with" name="student_living_with" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Student's Legal Guardian:</label>
                <input type="text" id="student_guardian" name="student_guardian" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Church:</label>
                <input type="text" id="family_church" name="family_church" class="form-control" required>
              </div>
            </div>
          </div>
          <h6 class="banner">PARENT RESPONSIBILIY AGREEMENT</h6>
          <!-- columns -->
          <div class="row">
            <div class="cols center">
              <div class="f">
                <label class='label'>Affirm HSLDA:</label>
                <input type="text" id="affirm" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label'>Affirm Cirriculum:</label>
                <input type="text" id="affirm" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label'>Affirm Recordkeeping:</label>
                <input type="text" id="affirm" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label'>Affirm Responsibility:</label>
                <input type="text" id="affirm" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label'>Affirm 180 Days:</label>
                <input type="text" id="affirm" name="" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label'>Affirm Attendance:</label>
                <input type="text" id="affirm" name="" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label'>Affirm Course Details:</label>
                <input type="text" id="affirm" name="" name="" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label'>Affirm Documentation:</label>
                <input type="text" id="affirm" name="" name="" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label small'>Affirm Withdrawal Notification:</label>
                <input type="text" id="affirm" name="" name="" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label'>Affirm Dismissal:</label>
                <input type="text" id="affirm" name="" name="" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label small'>Affirm Parental Responsibility:</label>
                <input type="text" id="affirm" name="" name="" class="form-control" required value="affirmed">
              </div>
              <div class="f">
                <label class='label'>Father's Signature:</label>
                <input type="text" id="father_signature" name="" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Father's Sigh Date:</label>
                <input type="text" id="father_sign_date" name="" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Mother's Signature:</label>
                <input type="text" id="mother_signature" name="" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Mother's Sign Date:</label>
                <input type="text" id="mother_sign_date" name="" class="form-control" required>
              </div>
            </div>
          </div>
          <h6 class="banner">HSLDA INFORMATION</h6>
          <!-- columns -->
          <div class="row">
            <div class="cols center">
              <div class="f">
                <label class='label'>HSLDA Member:</label>
                <input type="text" id="HSLDA_membership" name="HSLDA_membership" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>HSLDA Membership ID:</label>
                <input type="text" id="HSLDA_membership_id" name="HSLDA_membership_id" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>HSLDA Membership Expires:</label>
                <input type="text" id="HSLDA_membership_expires" name="HSLDA_membership_expires" class="form-control" required
                >
              </div>
              <div class="f">
                <label class='label'>Notes:</label>
                <textarea type="text" id="notes" name="notes" class="form-control" required><%=student.notes%></textarea>
              </div>
            </div>
          </div>
          <h6 class="banner">FACULTY INFORMATION</h6>
          <!-- columns -->
          <div class="row">
            <div class="cols center">
              <div class="f">
                <label class='label'>Primary Teacher:</label>
                <input type="text" id="primary_teacher" name="primary_teacher" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Highschool Eduication:</label>
                <input type="text" id="high_school_eduication" name="high_school_eduication" class="form-control" required
                >
              </div>
              <div class="f">
                <label class='label'>Highschool Attended:</label>
                <input type="text" id="high_school_attended" name="high_school_attended" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>College Eduication:</label>
                <input type="text" id="college_eduication" name="college_eduication" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>College Attended:</label>
                <input type="text" id="college_attended" name="college_attended" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>College Degree:</label>
                <input type="text" id="college_degree" name="college_degree" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Teaching Experience:</label>
                <textarea type="text" id="list_training" name="list_training" class="form-control" required><%=student.list_training%></textarea>
              </div>
            </div>
          </div>
          <h6 class="banner">RECIEVED INFORMATION</h6>
          <!-- columns -->
          <div class="row">
            <div class="cols center">
              <div class="f">
                <label class='label'>Date Recieved:</label>
                <input type="text" id="dateRecieved" name="dateRecieved" class="form-control" required>
              </div>
              <div class="f">
                <label class='label'>Fees Received:</label>
                <textarea type="text" id="feesRecieved" name="feesRecieved" class="form-control" required><%=student.feesRecieved%></textarea>
              </div>
              <div class="f">
                <label class='label'>Letters Sent:</label>
                <textarea type="text" id="letterSent" name="lettersSent" class="form-control" required><%=student.lettersSent%></textarea>
              </div>
              <div class="f">
                <label class='label'>Tdap:</label>
                <input type="text" id="tdap" name="tdap" class="form-control" required>
              </div>
            </div>
          </div>

          <hr>

        <div class="text-center">
            <button class="btn btn-primary" type="submit">Commit</button>
            <a href='student?id=<%= student_id %>' class="btn btn-secondary">Cancel</a>
        </div>

          </form>
          
          
          <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
          <script>



          </script>
          <script src="downloads/pdfform.minipdf.dist.js"></script>
          <script>

            var student_first_name = <%- JSON.stringify(student.first_name) %>;
            var student_last_name = <%- JSON.stringify(student.last_name) %>;
            var student_name = student_first_name + ' ' + student_last_name;
            var student_id = <%- JSON.stringify(student.student_id) %>;
            var username = <%- JSON.stringify(student.username) %>;
            var password = <%- JSON.stringify(student.password) %>;
            var birth_date = <%- JSON.stringify(student.birth_date) %>;
            var gender = <%- JSON.stringify(student.gender) %>;
            var disabilities = <%- JSON.stringify(student.disabilities) %>;
            var age = <%- JSON.stringify(student.age) %>;
            var grade = <%- JSON.stringify(student.grade) %>;
            var previous_school = <%- JSON.stringify(student.previous_school) %>;
            document.getElementById('student_id').setAttribute('value', student_id);
            document.getElementById('username').setAttribute('value', username);
            document.getElementById('password').setAttribute('value', password);
            document.getElementById('birth_date').setAttribute('value', birth_date);
            document.getElementById('gender').setAttribute('value', gender);
            document.getElementById('disabilities').setAttribute('value', disabilities);
            document.getElementById('age').setAttribute('value', age);
            document.getElementById('name').setAttribute('value', student_name);
            document.getElementById('previous_school').setAttribute('value', previous_school);
            //document.getElementById('grade').setAttribute('value', grade);

            var father_name = <%- JSON.stringify(student.father_name) %>;
            var father_employment = <%- JSON.stringify(student.father_employment) %>;
            var mother_name = <%- JSON.stringify(student.mother_name) %>;
            var mother_employment = <%- JSON.stringify(student.mother_employment) %>;
            var family_address = <%- JSON.stringify(student.family_address) %>;
            var family_city = <%- JSON.stringify(student.family_city) %>;
            var family_state = <%- JSON.stringify(student.family_state) %>;
            var family_zip = <%- JSON.stringify(student.family_zip) %>;
            var family_phone = <%- JSON.stringify(student.family_phone) %>;
            var family_email = <%- JSON.stringify(student.family_email) %>;
            var student_living_with = <%- JSON.stringify(student.student_living_with) %>;
            var student_guardian = <%- JSON.stringify(student.student_guardian) %>;
            var family_church = <%- JSON.stringify(student.family_church) %>;
            document.getElementById('father_name').setAttribute('value', father_name);
            document.getElementById('father_employment').setAttribute('value', father_employment);
            document.getElementById('mother_name').setAttribute('value', mother_name);
            document.getElementById('mother_employment').setAttribute('value', mother_employment);
            document.getElementById('family_address').setAttribute('value', family_address);
            document.getElementById('family_city').setAttribute('value', family_city);
            document.getElementById('family_state').setAttribute('value', family_state);
            document.getElementById('family_zip').setAttribute('value', family_zip);
            document.getElementById('family_phone').setAttribute('value', family_phone);
            document.getElementById('family_email').setAttribute('value', family_email);
            document.getElementById('student_living_with').setAttribute('value', student_living_with);
            document.getElementById('student_guardian').setAttribute('value', student_guardian);
            document.getElementById('family_church').setAttribute('value', family_church);

            var father_signature = <%- JSON.stringify(student.father_signature) %>;
            var father_sign_date = <%- JSON.stringify(student.father_sign_date) %>;
            var mother_signature = <%- JSON.stringify(student.mother_signature) %>;
            var mother_sign_date = <%- JSON.stringify(student.mother_sign_date) %>;
            document.getElementById('father_signature').setAttribute('value', father_signature);
            document.getElementById('father_sign_date').setAttribute('value', father_sign_date);
            document.getElementById('mother_signature').setAttribute('value', mother_signature);
            document.getElementById('mother_sign_date').setAttribute('value', mother_sign_date);
            
            var primary_teacher = <%- JSON.stringify(student.primary_teacher) %>;
            var college_eduication = <%- JSON.stringify(student.college_eduication) %>;
            var high_school_eduication  = <%- JSON.stringify(student.high_school_eduication) %>;
            var high_school_attended = <%- JSON.stringify(student.high_school_attended) %>;
            var college_attended = <%- JSON.stringify(student.college_attended) %>;
            var college_degree = <%- JSON.stringify(student.college_degree) %>;
            var list_training = <%- JSON.stringify(student.list_training) %>;
            document.getElementById('primary_teacher').setAttribute('value', primary_teacher);
            document.getElementById('high_school_attended').setAttribute('value', high_school_attended);
            document.getElementById('high_school_eduication').setAttribute('value', high_school_eduication);
            document.getElementById('college_eduication').setAttribute('value', college_eduication);
            document.getElementById('college_attended').setAttribute('value', college_attended);
            document.getElementById('college_degree').setAttribute('value', college_degree);

            var hslda_m = <%- JSON.stringify(student.HSLDA_membership) %>;
            var hslda_id = <%- JSON.stringify(student.HSLDA_membership_id) %>;
            var hslda_m_e = <%- JSON.stringify(student.HSLDA_membership_expires) %>;
            document.getElementById('HSLDA_membership').setAttribute('value', hslda_m);
            document.getElementById('HSLDA_membership_id').setAttribute('value', hslda_id);
            document.getElementById('HSLDA_membership_expires').setAttribute('value', hslda_m_e);

            var date_recieved = <%- JSON.stringify(student.dateRecieved) %>;
            var fees_recieved = <%- JSON.stringify(student.feesRecieved) %>;
            var letters_sent = <%- JSON.stringify(student.lettersSent) %>;
            var tdap= <%- JSON.stringify(student.tdap) %>;
            document.getElementById('tdap').setAttribute('value', tdap);
            document.getElementById('dateRecieved').setAttribute('value', date_recieved);

            var grade = <%- JSON.stringify(student.grade) %>;
            var grades = ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th', '11th', '12th'];

            function setGrade() {
              var html = '';
              var selected = '';
              for (let i = 0; i < 12; i++) {
                var grade_i = grades[i];
                if (grade == grade_i)
                  selected = 'selected';
                html += `<option value="${grade_i}" ${selected}>${grade_i}</option>`;
                selected = '';
              }
              $('#grade').html(html);
            }
            setGrade();

          </script>
          </body>
          
          </html>