<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Your Students</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      thead{
        background-color: #beedc6
      }
      table{
        width: 100%;
      }
      tr:nth-child(even) {background-color: #f2f2f2;}
    </style>

  </head>
  <body>
    <a href='/home'>Home</a>
    <br>
    <h1 style='display: inline'>Registered Students for <%= user %></h1>
    <!-- <div style='display: inline; float: right' class="dropdown">
      <form method="post">
        <div style='display: inline-block' class="">
          <select name="sort_type" class="form-control" required>
            <option value="date" disabled selected>Choose</option>
            <option value="date">Date Recieved</option>
            <option value="last_name">Last Name</option>
            <option value="first_name">First Name</option>
          </select>
        </div>
        <input style='margin-bottom: 5px;' type="submit" name='submit' class="btn btn-primary" value='sort'></input>
      </form>
    </div> -->
    <hr>
    <table>
    <thead>
      <th>Student Name</th>
      <th>Student ID</th>
      <th></th>
      <th></th>
    </thead>
    <% for (var i =0; i <students.length;  i++ ) { %>
      <%var color = 'background-color:#e8e8e8';%>
      <tr>
        <td style=color><%=students[i].first_name%> <%=students[i].last_name%></td>
        <td><%=students[i].student_id%></td>
        <td><a href="updateForm?id=<%=students[i]._id%>" class='btn btn-link btn-sm'>update</a></td>
      </tr>
    <% } %>
  </table>
  </body>

  <!-- <script>
    function confirm(student_id, student_name) {
      let text;
      let person = prompt('To drop the student "'+student_name+'" type the name to confirm.');
      if(person == student_name){
        delete_student(student_id)
      }
    }

    function delete_student(student_id){
      var xhr = new XMLHttpRequest();
      xhr.open("POST", 'http://localhost:3000/submitted');

      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("Content-Type", "application/json");

      xhr.onreadystatechange = function () {
         if (xhr.readyState === 4) {
            console.log(xhr.status);
            console.log(xhr.responseText);
         }};

      var data = `{
        "Id": student_id,
      }`;

      xhr.send(data);
    }
  </script> -->

</html>
